<div class="row">
  <div class="logo">
    <a href="{{ site.url }}" title="{{ site.name }}">
      <img src="https://cocon.alexiasavva.fr/wp-content/uploads/logo-cocon-blanc.png" alt="{{ site.name }}" width="150" />
    </a>
  </div>

  <div>
    <nav class="footer-navigation" role="navigation">
      {% include "menu.twig" with { 'type': footer_menu } %}
    </nav>

    *{{ home_left }}*

    <p class="legal-notice">{{"now"|date('Y')}} Cocon <span>|</span> Tous droits réservés <span>|</span> <a href="/" title="Mentions Légales">Mentions Légales</a></p>
  </div>
  
</div>

