{% extends "base.twig" %}

{% block content %}

	<div class="background-dark-grey prestations-block">
		<div class="row">

			<div class="flexbox col-in-mobile align-item-center justify-content-space-around">
				<img src="{{ site.theme.link }}/static/img/natural-illustration-3.svg" alt="" width="230" class=""/>
				<h2 class="align-center title">Mes prestations</h2>
				<img src="{{ site.theme.link }}/static/img/natural-illustration-3.svg" alt="" width="230" class="revert-vertical"/>
			</div>


		</div>
	</div>

	
	<div class="row engagements-block">

		<div class="align-center margin-l">
			<img src="{{ site.theme.link }}/static/img/natural-illustration-1.svg" alt="" width="180" class="revert-vertical"/>
		</div>

		<h2 class="block-title margin-auto align-center margin-l title">Mes valeurs & mes engagements</h2>

		<div class="engagements-items flexbox col-in-mobile margin-l">
			<div class="align-center">
				<img src="{{ site.theme.link }}/static/img/engagement-illustration-1.svg" alt="" />
				<p class="h4">Bienveillance <br>& écoute</p>
			</div>
			<div class="align-center">
				<img src="{{ site.theme.link }}/static/img/engagement-illustration-2.svg" alt="" />
				<p class="h4">Environnemental<br> & écologique</p>
			</div>
			<div class="align-center">
				<img src="{{ site.theme.link }}/static/img/engagement-illustration-3.svg" alt="" />
				<p class="h4">Reconnexion à<br> soi garantie</p>
			</div>
		</div>

		<div class="align-center margin-l">
			<a href="/qui-suis-je" title="A propos de moi" class="button button-secondary">En savoir plus à propos de moi</a>
		</div>

		<div class="align-center"><img src="{{ site.theme.link }}/static/img/natural-illustration-1.svg" alt="" width="180" class=""/></div>

	</div>

	{# 
		<h2>{{ foo }}</h2>
		<p>{{ qux }}</p>
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}
		
		{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	#}

{% endblock %}
