{% extends "base.twig" %}

{% block content %}

	{# Cover #}
	<div class="margin-xxl flexbox align-items-center background-dark-grey cover" 
			 style="background-image: url('{{ post.meta('prestastions_cover_background') }}');">
		<div class="row">

			<div class="block-title">
				<h1 class="title margin-l">{{ post.title }}</h1>

				{% if post.content is not empty %}
					<div class="margin-m">{{ post.content }}</div>
				{% endif %}

				{% if post.meta('prestastions_cover_primary_button').url is not empty %}
					<a href="{{ post.meta('prestastions_cover_primary_button').url }}" title="{{ post.meta('prestastions_cover_primary_button').label }}" class="button button-primary">
						{{ post.meta('prestastions_cover_primary_button').label }}
					</a>
				{% endif %}

				{% if post.meta('prestastions_cover_secondary_button').url is not empty %}
					<a href="{{ post.meta('prestastions_cover_secondary_button').url }}" title="{{ post.meta('prestastions_cover_secondary_button').label }}" class="button button-secondary">
						{{ post.meta('prestastions_cover_secondary_button').label }}
					</a>
				{% endif %}
			</div> 

		</div>
	</div>
	

	{# Liste des massages #}
	{% if post.meta('prestastions_items_list_active') == 1 %}
		<div class="margin-xxl massages-list-section" id="decouvrir-les-massages">
			<div class="row">
				
				<div class="align-center margin-l"><img src="{{ site.theme.link }}/static/img/arabesque-1.svg" alt="" width="400"/></div>

				<div class="margin-l flexbox flex-wrap justify-content-center align-items-start list-items">


					{% if post.meta('prestastions_items_list_item_1').active == 1 %}
						<div>
							{% if post.meta('prestastions_items_list_item_1').illustration is not empty %}
								<center class="margin-s"><img src="{{ post.meta('prestastions_items_list_item_1').illustration }}" alt="{{ post.meta('prestastions_items_list_item_1').title }}" /></center>
							{% endif %}
							<div>
								<div class="margin-m">
									<h2 class="title h4 margin-xs">{{ post.meta('prestastions_items_list_item_1').title }}</h2>
									<p>{{ post.meta('prestastions_items_list_item_1').description }}</p>
								</div>

								{% if post.meta('prestastions_items_list_item_1').benefits is not empty %}
									<div class="margin-m">
										<p class="badge margin-xs">Bienfaits</p>
										<p>{{ post.meta('prestastions_items_list_item_1').benefits }}</p>
									</div>
								{% endif %}

								{% if post.meta('prestastions_items_list_item_1').duration is not empty or post.meta('prestastions_items_list_item_1').price is not empty %}
									<p class="badge margin-xs">Durée & tarif</p>
								{% endif %}

								{% if post.meta('prestastions_items_list_item_1').duration is not empty %}
									<p class="detail">
										<i class="fa-regular fa-clock"></i> <span class="h6">{{ post.meta('prestastions_items_list_item_1').duration }}</span>
									</p>
								{% endif %}
								{% if post.meta('prestastions_items_list_item_1').price is not empty %}
									<p class="detail">
										<i class="fa-solid fa-tag"></i> <span class="h6">{{ post.meta('prestastions_items_list_item_1').price }}</span>
									</p>
								{% endif %}
							</div>
						</div>
					{% endif %}

					{% if post.meta('prestastions_items_list_item_2').active == 1 %}
						<div>
							{% if post.meta('prestastions_items_list_item_2').illustration is not empty %}
								<center class="margin-s"><img src="{{ post.meta('prestastions_items_list_item_2').illustration }}" alt="{{ post.meta('prestastions_items_list_item_2').title }}" /></center>
							{% endif %}
							<div>
								<div class="margin-m">
									<h2 class="title h4 margin-xs">{{ post.meta('prestastions_items_list_item_2').title }}</h2>
									<p>{{ post.meta('prestastions_items_list_item_2').description }}</p>
								</div>

								{% if post.meta('prestastions_items_list_item_2').benefits is not empty %}
									<div class="margin-m">
										<p class="badge margin-xs">Bienfaits</p>
										<p>{{ post.meta('prestastions_items_list_item_2').benefits }}</p>
									</div>
								{% endif %}

								{% if post.meta('prestastions_items_list_item_2').duration is not empty or post.meta('prestastions_items_list_item_2').price is not empty %}
									<p class="badge margin-xs">Durée & tarif</p>
								{% endif %}

								{% if post.meta('prestastions_items_list_item_2').duration is not empty %}
									<p class="detail">
										<i class="fa-regular fa-clock"></i> <span class="h6">{{ post.meta('prestastions_items_list_item_2').duration }}</span>
									</p>
								{% endif %}
								{% if post.meta('prestastions_items_list_item_2').price is not empty %}
									<p class="detail">
										<i class="fa-solid fa-tag"></i> <span class="h6">{{ post.meta('prestastions_items_list_item_2').price }}</span>
									</p>
								{% endif %}
							</div>
						</div>
					{% endif %}

					{% if post.meta('prestastions_items_list_item_3').active == 1 %}
						<div>
							{% if post.meta('prestastions_items_list_item_3').illustration is not empty %}
								<center class="margin-s"><img src="{{ post.meta('prestastions_items_list_item_3').illustration }}" alt="{{ post.meta('prestastions_items_list_item_3').title }}" /></center>
							{% endif %}
							<div>
								<div class="margin-m">
									<h2 class="title h4 margin-xs">{{ post.meta('prestastions_items_list_item_3').title }}</h2>
									<p>{{ post.meta('prestastions_items_list_item_3').description }}</p>
								</div>

								{% if post.meta('prestastions_items_list_item_3').benefits is not empty %}
									<div class="margin-m">
										<p class="badge margin-xs">Bienfaits</p>
										<p>{{ post.meta('prestastions_items_list_item_3').benefits }}</p>
									</div>
								{% endif %}

								{% if post.meta('prestastions_items_list_item_3').duration is not empty or post.meta('prestastions_items_list_item_3').price is not empty %}
									<p class="badge margin-xs">Durée & tarif</p>
								{% endif %}

								{% if post.meta('prestastions_items_list_item_3').duration is not empty %}
									<p class="detail">
										<i class="fa-regular fa-clock"></i> <span class="h6">{{ post.meta('prestastions_items_list_item_3').duration }}</span>
									</p>
								{% endif %}
								{% if post.meta('prestastions_items_list_item_3').price is not empty %}
									<p class="detail">
										<i class="fa-solid fa-tag"></i> <span class="h6">{{ post.meta('prestastions_items_list_item_3').price }}</span>
									</p>
								{% endif %}
							</div>
						</div>
					{% endif %}

					{% if post.meta('prestastions_items_list_item_4').active == 1 %}
						<div>
							{% if post.meta('prestastions_items_list_item_4').illustration is not empty %}
								<center class="margin-s"><img src="{{ post.meta('prestastions_items_list_item_4').illustration }}" alt="{{ post.meta('prestastions_items_list_item_4').title }}" /></center>
							{% endif %}
							<div>
								<div class="margin-m">
									<h2 class="title h4 margin-xs">{{ post.meta('prestastions_items_list_item_4').title }}</h2>
									<p>{{ post.meta('prestastions_items_list_item_4').description }}</p>
								</div>

								{% if post.meta('prestastions_items_list_item_4').benefits is not empty %}
									<div class="margin-m">
										<p class="badge margin-xs">Bienfaits</p>
										<p>{{ post.meta('prestastions_items_list_item_4').benefits }}</p>
									</div>
								{% endif %}

								{% if post.meta('prestastions_items_list_item_4').duration is not empty or post.meta('prestastions_items_list_item_4').price is not empty %}
									<p class="badge margin-xs">Durée & tarif</p>
								{% endif %}

								{% if post.meta('prestastions_items_list_item_4').duration is not empty %}
									<p class="detail">
										<i class="fa-regular fa-clock"></i> <span class="h6">{{ post.meta('prestastions_items_list_item_4').duration }}</span>
									</p>
								{% endif %}
								{% if post.meta('prestastions_items_list_item_4').price is not empty %}
									<p class="detail">
										<i class="fa-solid fa-tag"></i> <span class="h6">{{ post.meta('prestastions_items_list_item_4').price }}</span>
									</p>
								{% endif %}
							</div>
						</div>
					{% endif %}

					{% if post.meta('prestastions_items_list_item_5').active == 1 %}
						<div>
							{% if post.meta('prestastions_items_list_item_5').illustration is not empty %}
								<center class="margin-s"><img src="{{ post.meta('prestastions_items_list_item_5').illustration }}" alt="{{ post.meta('prestastions_items_list_item_5').title }}" /></center>
							{% endif %}
							<div>
								<div class="margin-m">
									<h2 class="title h4 margin-xs">{{ post.meta('prestastions_items_list_item_5').title }}</h2>
									<p>{{ post.meta('prestastions_items_list_item_5').description }}</p>
								</div>

								{% if post.meta('prestastions_items_list_item_5').benefits is not empty %}
									<div class="margin-m">
										<p class="badge margin-xs">Bienfaits</p>
										<p>{{ post.meta('prestastions_items_list_item_5').benefits }}</p>
									</div>
								{% endif %}

								{% if post.meta('prestastions_items_list_item_5').duration is not empty or post.meta('prestastions_items_list_item_5').price is not empty %}
									<p class="badge margin-xs">Durée & tarif</p>
								{% endif %}

								{% if post.meta('prestastions_items_list_item_5').duration is not empty %}
									<p class="detail">
										<i class="fa-regular fa-clock"></i> <span class="h6">{{ post.meta('prestastions_items_list_item_5').duration }}</span>
									</p>
								{% endif %}
								{% if post.meta('prestastions_items_list_item_5').price is not empty %}
									<p class="detail">
										<i class="fa-solid fa-tag"></i> <span class="h6">{{ post.meta('prestastions_items_list_item_5').price }}</span>
									</p>
								{% endif %}
							</div>
						</div>
					{% endif %}

					{% if post.meta('prestastions_items_list_item_plus').active == 1 %}
						<div class="highlight background-sweet-orange">
							{% if post.meta('prestastions_items_list_item_plus').illustration is not empty %}
								<center class="margin-s"><img src="{{ post.meta('prestastions_items_list_item_plus').illustration }}" alt="{{ post.meta('prestastions_items_list_item_plus').title }}" /></center>
							{% endif %}
							<div>
								<div class="margin-m">
									<h2 class="title h4 margin-xs">{{ post.meta('prestastions_items_list_item_plus').title }}</h2>
									<p>{{ post.meta('prestastions_items_list_item_plus').description }}</p>
								</div>

								{% if post.meta('prestastions_items_list_item_plus').benefits is not empty %}
									<div class="margin-m">
										<p class="badge margin-xs">Bienfaits</p>
										<p>{{ post.meta('prestastions_items_list_item_plus').benefits }}</p>
									</div>
								{% endif %}

								{% if post.meta('prestastions_items_list_item_plus').duration is not empty or post.meta('prestastions_items_list_item_plus').price is not empty %}
									<div class="detail flexbox flex-wrap">
										{% if post.meta('prestastions_items_list_item_plus').duration is not empty %}
											<p class="detail">
												<i class="fa-regular fa-clock"></i> <span class="h6">{{ post.meta('prestastions_items_list_item_plus').duration }}</span>
											</p>
										{% endif %}
										{% if post.meta('prestastions_items_list_item_plus').price is not empty %}
											<p class="detail">
												<i class="fa-solid fa-tag"></i> <span class="h6">{{ post.meta('prestastions_items_list_item_plus').price }}</span>
											</p>
										{% endif %}
									</div>
								{% endif %}

							</div>
						</div>
					{% endif %}


					{#
					<div>
						<center class="margin-s"><img src="{{ site.theme.link }}/static/img/massages/illu-suedois.svg" alt="" /></center>

						<div>
							<div class="margin-m">
								<h2 class="title h4 margin-xs">Le Suédois sportif</h2>
								<p>Sportif.ve ? En préparation ou récupération d’un évènement sportif ? Ou juste l'envie d’un massage dynamique ? Optez pour la version dynamique de ce massage ! </p>
							</div>

							<div class="margin-m">
								<p class="badge margin-xs">Bienfaits</p>
								<p>Lorem ipsum damet ic for salutant.</p>
							</div>

							<p class="badge margin-xs">Durée & tarif</p>
							<p class="detail">
								<i class="fa-regular fa-clock"></i> <span class="h6">45min</span>
							</p>
							<p class="detail">
								<i class="fa-solid fa-tag"></i> <span class="h6">75€</span>
							</p>
						</div>
					</div>

					<div>
						<center class="margin-s"><img src="{{ site.theme.link }}/static/img/massages/illu-ayurveda.svg" alt="" /></center>

						<div>
							<div class="margin-m">
								<h2 class="title h4 margin-xs">L'Ayurvéda Abhyanga</h2>
								<p>Fatigué.e ? Manque d’équilibre ? Besoin d’éliminer les toxines ? Optez pour ce massage de tradition indienne pour rééquilibrer vos Doshas.</p>
							</div>

							<div class="margin-m">
								<p class="badge margin-xs">Bienfaits</p>
								<p>Lorem ipsum damet ic for salutant.</p>
							</div>

							<p class="badge margin-xs">Durée & tarif</p>
							<p class="detail">
								<i class="fa-regular fa-clock"></i> <span class="h6">45min</span>
							</p>
							<p class="detail">
								<i class="fa-solid fa-tag"></i> <span class="h6">75€</span>
							</p>
						</div>
					</div>

					<div>
						<center class="margin-s"><img src="{{ site.theme.link }}/static/img/massages/illu-head-neck.svg" alt="" /></center>
						<div>
							<div class="margin-m">
								<h2 class="title h4 margin-xs">Head-Neck & Shoulders</h2>
								<p>Optez pour une détente complète du haut du dos et de la nuque.</p>
							</div>

							<div class="margin-m">
								<p class="badge margin-xs">Bienfaits</p>
								<p>Lorem ipsum damet ic for salutant. Plebiscité nam oc oricilus plebissa. Ore militant damet bellum !</p>
							</div>

							<p class="badge margin-xs">Durée & tarif</p>
							<p class="detail">
								<i class="fa-regular fa-clock"></i> <span class="h6">35min</span>
							</p>
							<p class="detail">
								<i class="fa-solid fa-tag"></i> <span class="h6">45€</span>
							</p>
						</div>
					</div>

					<div>
						<center class="margin-s"><img src="{{ site.theme.link }}/static/img/massages/illu-nuad-thai.svg" alt="" /></center>
						<div>
							<div class="margin-m">
								<h2 class="title h4 margin-xs">Le Nuad Thai</h2>
								<p>Raideurs corporelles ? Besoin d’étirement après ou avant un évènement sportif ? <br>Optez pour ce massage qui va réveiller votre corps ! </p>
							</div>

							<div class="margin-m">
								<p class="badge margin-xs">Bienfaits</p>
								<p>Lorem ipsum damet ic for salutant.</p>
							</div>

							<p class="badge margin-xs">Durée & tarif</p>
							<p class="detail">
								<i class="fa-regular fa-clock"></i> <span class="h6">60min</span>
							</p>
							<p class="detail">
								<i class="fa-solid fa-tag"></i> <span class="h6">85€</span>
							</p>
						</div>
					</div>

					<div class="highlight background-sweet-orange">
						<center class="margin-s"><img src="{{ site.theme.link }}/static/img/massages/illu-plus.svg" alt="" /></center>
						<div>
							<div class="margin-m">
								<h2 class="title h4 margin-xs">Le petit plus... </h2>
								<p>Pour plus de bénéfice du massage, une relaxation guidée de 5 minutes est proposée gratuitement avant le massage.</p>
							</div>

							<div class="margin-m">
								<p class="badge margin-xs">Bienfaits</p>
								<p>Lorem ipsum damet ic for salutant. Vel dol ores exercitationem est dignis simos dolor.</p>
							</div>

							<div class="detail flexbox flex-wrap">
								<p>
									<i class="fa-regular fa-clock"></i> <span class="h6">5min</span>
								</p>
								<p>
									<i class="fa-solid fa-tag"></i> <span class="h6">Gratuit</span>
								</p>
							</div>
						</div>
					</div>
					#}

				</div>

				<div class="align-center"><img src="{{ site.theme.link }}/static/img/arabesque-1.svg" alt="" width="400" class="revert-vertical" /></div>
			
			</div>
		</div>
	{% endif %}
	

	{# Deroulement #}
	{% if post.meta('prestastions_process_place_active') == 1 %}
		<div class="background-dark-grey process-section" id="deroulement-de-seance">
			<div class="row">

				<h2 class="title margin-l align-center">{{ post.meta('prestastions_process_place_title') }}</h2>

				<div class="flexbox flex-wrap process-items">

					{% if post.meta('prestastions_process_place_time').title is not empty %}
						<div>
							<h3 class="title h5 margin-s">{{ post.meta('prestastions_process_place_time').title }}</h3>
							<p>{{ post.meta('prestastions_process_place_time').text }}</p>
						</div>
					{% endif %}

					{% if post.meta('prestastions_process_outfit_material').title is not empty %}
						<div>
							<h3 class="title h5 margin-s">{{ post.meta('prestastions_process_outfit_material').title }}</h3>
							<p>{{ post.meta('prestastions_process_outfit_material').text }}</p>
						</div>

						<div class="align-center"><img src="{{ site.theme.link }}/static/img/natural-illustration-4.svg" alt="" width="83" class="filter-invert" /></div>
					{% endif %}


					{% if post.meta('prestastions_process_before').title is not empty %}
						<div class="align-center"><img src="{{ site.theme.link }}/static/img/natural-illustration-4.svg" alt="" width="83" class="filter-invert revert-vertical" /></div>

						<div>
							<h3 class="title h5 margin-s">{{ post.meta('prestastions_process_before').title }}</h3>
							<p>{{ post.meta('prestastions_process_before').text }}</p>
						</div>
					{% endif %}

					{% if post.meta('prestastions_process_after').title is not empty %}
						<div>
							<h3 class="title h5 margin-s">{{ post.meta('prestastions_process_after').title }}</h3>
							<p>{{ post.meta('prestastions_process_after').text }}</p>
						</div>
					{% endif %}
					
					{% if post.meta('prestastions_process_counter_indications').title is not empty %}
						<div class="align-center margin-auto">
							<img src="{{ site.theme.link }}/static/img/natural-illustration-4.svg" alt="" width="83" class="filter-invert revert-vertical" />
							<img src="{{ site.theme.link }}/static/img/natural-illustration-4.svg" alt="" width="83" class="filter-invert" />					
						</div>
						
						<div>
							<h3 class="title h5 margin-s">{{ post.meta('prestastions_process_counter_indications').title }}</h3>
							<p>{{ post.meta('prestastions_process_counter_indications').text }}</p>
						</div>
					{% endif %}

				</div>

			</div>
		</div>
	{% endif %}
		


	{# Bienfaits
	<div class="background-white benefits-section">
		<div class="row">

			<h2 class="title align-center margin-xl">Les bienfaits du massage</h2>

			<div class="align-center flexbox flex-wrap justify-content-space-between align-items-start child-flex-1 col-in-mobile">
				<div>
					<p class="h4 margin-s">Pour le corps</p>
					<p>Fusce congue purus eget nulla dictum suscipit. Suspendisse volutpat urna ac laoreet. </p>
					<p>Nulla egestas elit vitae commodo gravida. <br>Morbi tempor at.</p>
				</div>
				<div class="margin-auto">
					<img src="{{ site.theme.link }}/static/img/natural-illustration-7.svg" alt="" width="73" />
				</div>
				<div>
					<p class="h4 margin-s">Pour l'esprit</p>
					<p>Lorem ipsume at for damet. Suspendisse volutpat urna ac laoreet volutpat. Fusce congue purus eget nulla dictum suscipit.<br>Nulla egestas elit vitae commodo.</p>
				</div>
			</div>

		</div>
	</div>
	#}


	{# Formulaire contact #}
	{% if post.meta('prestastions_contact_active') == 1 %}
		<div class="background-white contact-section">
			<div class="row flexbox col-in-mobile">
			
				<div class="flex-1 content">
					{% if post.meta('prestastions_contact_title') is not empty %}
						<p class="h2 margin-s">{{ post.meta('prestastions_contact_title') }}</p>
					{% endif %}
					{% if post.meta('prestastions_contact_text') is not empty %}
						<p>{{ post.meta('prestastions_contact_text') }}</p>
					{% endif %}

					<br><br>

					{% include 'partial/form.twig' %}
				</div>

				<div class="flex-1"></div>

			</div>
		</div>
	{% endif %}
	 





{#
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{ post.content }}
				</div>
			</section>
		</article>
	</div>
#}
{% endblock %}

{% block contact %}{% endblock %}