{% extends "base.twig" %}

{% block content %}
	{# Cover #}
	{#}
	<div class="flexbox background-dark-grey cover">
		<div class="row">

			<div class="block-title">
				<h1 class="title">{{ post.title }}</h1>
			</div> 

		</div>
	</div>

	<div class="content-text-block">
		<div class="row">
			<div class="content">
				<h2 class="align-center margin-m">Mon parcours</h2>

				<p><span class="h5">Je m’appelle Léa.</span><br>
				Nantaise d’origine mais tomber en amour pour le Morbihan, je m’y suis installé depuis quelques années.</p>

				<p>J’eus ma révélation pour le massage bien-être en 2016, lors d’un festival de sensibilisation et d’intégration aux handicaps. <br>Bénévole dans l’espace détente, j’ai observé les résultats de courts massages : du relâchement, de l’apaisement et des sourires. Beaucoup de sourires ! Je me suis dit « d’accord, c’est ça que je veux faire. »</p>

				<p>Depuis, je me suis formée au massage bien-être à l’école Azenday sur Nantes. J’ai ainsi pu développer des techniques professionnelles et découvrir la richesse du milieu du bien-être.</p>
				
				<p>En parallèle, je mets en pratique plusieurs techniques de relaxation issues du massage, du yoga, de la sophrologie, de la méditation, du chamanisme ou encore de la communication non violente. Remarquant les résultats probants sur mon être, je me sens obligée de partager ces découvertes.</p>

				<p>Au fil des jours, je continue de me former pour proposer des nouvelles techniques de massages et de relaxation pour permettre à d’autres âmes que la mienne de bénéficier du bien-être que cela procure.</p>
			
				<br>
				<a href="/contact" title="Me contacter" class="button button-primary">Me contacter</a>
			</div>
		</div>
	</div>
	#}

	<div class="immersif-background cover">
		<div class="content-text-block">
			<div class="row">
				<div class="content">
					<h2 class="align-center margin-m">Mon parcours</h2>

					<p><span class="h5">Je m’appelle Léa.</span><br>
					Nantaise d’origine mais tomber en amour pour le Morbihan, je m’y suis installé depuis quelques années.</p>

					<p>J’eus ma révélation pour le massage bien-être en 2016, lors d’un festival de sensibilisation et d’intégration aux handicaps. <br>Bénévole dans l’espace détente, j’ai observé les résultats de courts massages : du relâchement, de l’apaisement et des sourires. Beaucoup de sourires ! Je me suis dit « d’accord, c’est ça que je veux faire. »</p>

					<p>Depuis, je me suis formée au massage bien-être à l’école Azenday sur Nantes. J’ai ainsi pu développer des techniques professionnelles et découvrir la richesse du milieu du bien-être.</p>
					
					<p>En parallèle, je mets en pratique plusieurs techniques de relaxation issues du massage, du yoga, de la sophrologie, de la méditation, du chamanisme ou encore de la communication non violente. Remarquant les résultats probants sur mon être, je me sens obligée de partager ces découvertes.</p>

					<p>Au fil des jours, je continue de me former pour proposer des nouvelles techniques de massages et de relaxation pour permettre à d’autres âmes que la mienne de bénéficier du bien-être que cela procure.</p>
				
					<br>
					<a href="/contact" title="Me contacter" class="button button-primary">Me contacter</a>
				</div>
			</div>
		</div>
	</div>

	<div class="immersif-background my-philosophy">
		<div class="content-text-block">
			<div class="row revert">
				<div class="content">
					<h2 class="align-center margin-m">Ma philosophie</h2>

					<p>Les listes des choses à faire qui s’allongent, les obligations professionnelles, familiales, sociétales qui s’accumulent !</p> 
					<p>Et votre « soi » dans tout cela ? </p>
					<p>A travers mon activité de bien-être c’est vous donner la porte d’accès à votre Être qui m’importe. Vous donnez l’opportunité de renouer avec vous-mêmes, d’être apaisé malgré une société oppressante et trop rapide. Vous proposer des instants uniques pour relâcher les pressions du corps et de l’esprit ; respirer enfin rien que pour vous.</p>
					<p>Se reconnecter à soi, c’est aussi s’accepter tel que Je Suis. Souvent noyer dans la multitude, nous oublions d’apprendre à nous aimer. 
					<p>Étant passer (et y travaillant toujours) par une longue quête d’acception de moi-même, je saurai plus qu’heureuse de pouvoir vous aider à faire quelques pas sur ce chemin.</p>
					<p>Ma valeur intrinsèque est le respect. Aucun jugement ne sera émis lors de mes séances. Je sais être une bonne oreille et mes paroles ne sont que le vecteur d’astuces et d’exercices de bien-être que je partage avec vous. </p>
				</div>
			</div>
		</div>
	</div>

	{#
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{ post.content }}
				</div>
			</section>
		</article>
	</div>
	#}
{% endblock %}