{% extends "base.twig" %}

{% block content %}
	{# Cover #}
	<div class="row cover">

		<div class="block-title">
			<h1 class="title {% if post.content is not empty %}margin-l{% endif %}">{{ post.title }}</h1>

			{% if post.content is not empty %}
				<p>{{ post.content }}</p>
			{% endif %}
		</div> 

	</div>

	{# Parcours #}
	{% if post.meta('about_career_path_title') is not empty 
		 or post.meta('about_career_path_presentation') is not empty 
		 or post.meta('about_career_path_background') is not empty 
	%}
		<div class="immersif-background my-cover">
			<div class="bg-block" style="background-image: url('{{ post.meta('about_career_path_background') }}');"></div>
			
			<div class="row content-text-block">
				<div class="content">
					{% if post.meta('about_career_path_title') is not empty %}
						<h2 class="align-center title">{{ post.meta('about_career_path_title') }}</h2>
					{% endif %}

					{{ post.meta('about_career_path_presentation') }}
					
					{% if post.meta('about_career_path_button').url is not empty %}
						<br><br>
						<a href="{{ post.meta('about_career_path_button').url }}" title="{{ post.meta('about_career_path_button').label }}" class="button button-primary">
							{{ post.meta('about_career_path_button').label }}
						</a>
					{% endif %}

					<img src="{{ site.theme.link }}/static/img/natural-illustration-7.svg" alt="" class="illustration" height="250" />
				</div>
			</div>
		</div> 
	{% endif %}
	

	{# Philosophie #}
	{% if post.meta('about_philosophy_title') is not empty 
		or post.meta('about_philosophy_presentation') is not empty 
		or post.meta('about_philosophy_background') is not empty 
	%}
		<div class="immersif-background my-philosophy">
			<div class="bg-block" style="background-image: url('{{ post.meta('about_philosophy_background') }}');"></div>
			<div class="row content-text-block">
				<div class="content revert">
					<img src="{{ site.theme.link }}/static/img/natural-illustration-8.svg" alt="" class="illustration-top" height="190" />
					<h2 class="align-center title">{{ post.meta('about_philosophy_title') }}</h2>

					{{ post.meta('about_philosophy_presentation') }}
			
					<img src="{{ site.theme.link }}/static/img/natural-illustration-8.svg" alt="" class="illustration" height="320" />
				</div>
			</div>
		</div>
	{% endif %}
	

	{# Engagements
	<div class="immersif-background my-engagment">
		<div class="bg-block"></div>
		<div class="row content-text-block">
			<div class="content">
				<img src="{{ site.theme.link }}/static/img/natural-illustration-4.svg" alt="" class="illustration-top" height="45" />
				<h2 class="align-center title">Mes engagements</h2>
				<p class="h6 margin-xs">Ancrée à mon territoire et portant des valeurs environnementales, il m’est essentiel de rester cohérente dans ma vie professionnelle. </p>
				<p>Une partie de mon matériel est <strong>fait-main et/ou issues du réemplois</strong>. 
					L’autre partie provient <strong>d’artisans et de producteurs locaux</strong> qui sont et resteront mes fournisseurs privilégiés.</p>
				<p>Je m’engage ainsi, autant que faire ce peux, à utiliser des <strong>produits locaux</strong>, que ce soit mes huiles ou le matériel que j’utilise.
					Et Je veille à utiliser que des <strong>produits éthiques et d’origine écologique</strong> en étant vigilante aux labels et lieux de production/fabrication.</p>
				<p>Par exemple, l’huile utilisée pour mes massages est de <strong>l’huile de Chanvre</strong> composées de 100% de graine de chanvre issues de 
				 <strong>l’agriculture biologique française, pressées et conditionnées en Bretagne</strong>.</p>
				<p>Tendre à une pratique environnementalement <strong>responsable</strong> ; participer à une économie saine et locale tout en renouant avec vous-même, voilà ce qui vous attend dans ce petit cocon dans lequel je vous invite !</p>
				<img src="{{ site.theme.link }}/static/img/natural-illustration-4.svg" alt="" class="illustration" height="48" />
			</div>
		</div>
	</div>
	#}
	
	<div class="margin-xl"></div>

{% endblock %}