{% extends "base.twig" %}

{% block content %}
	<div class="cover flexbox align-items-center background-dark-grey">
		<div class="row">

			<div class="block-title">
				<h1 class="title margin-l">Les massages bien-être</h1>

				<a href="#" title="Découvrir les massages" class="button button-primary">Découvrir les massages</a>
				<a href="#" title="Comment se déroule une séance ?" class="button button-secondary">Comment se déroule une séance ?</a>
			</div>

		</div>
	</div>


	<div class="">
		<div class="row">
			
			<div class="align-center"><img src="{{ site.theme.link }}/static/img/arabesque-1.svg" alt="" width="300"/></div>
		</div>
	</div>
{#
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{ post.content }}
				</div>
			</section>
		</article>
	</div>
#}
{% endblock %}