{% extends "base.twig" %}

{% block content %}

	{# Cover #}
	<div class="margin-xxl flexbox align-items-center background-dark-grey cover">
		<div class="row">

			<div class="block-title">
				<h1 class="title margin-l">{{post.title}}</h1>
			</div> 

		</div>
	</div>


	{#<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{ post.content }}
				</div>
			</section>
		</article>
	</div>
	#}
{% endblock %}