{% extends "base.twig" %}

{% block content %}
	<div class="cover flexbox align-items-center background-dark-grey">
		<div class="row">

			<div class="block-title">
				<h1 class="title margin-l">Les massages bien-être</h1>

				<a href="#" title="Découvrir les massages" class="button button-primary">Découvrir les massages</a>
				<a href="#" title="Comment se déroule une séance ?" class="button button-secondary">Comment se déroule une séance ?</a>
			</div>

		</div>
	</div>


	<div class="massages-list-section">
		<div class="row">
			
			<div class="align-center margin-l"><img src="{{ site.theme.link }}/static/img/arabesque-1.svg" alt="" width="400"/></div>

			<div class="margin-l flexbox flex-wrap justify-content-space-between list-items">
				<div>
					<center class="margin-s"><img src="{{ site.theme.link }}/static/img/massages/illu-californien.svg" alt="" /></center>

					<h2 class="h5 margin-xs">Le Californien </h2>
					<p class="margin-s">Anxieux.se ? Nerveux.se ? Stressé.e ? Envie de lâcher pressions du quotidien ? <br>Optez pour ce massage tout en douceur et fluidité pour vous lover sur un petit nuage. </p>


					<p class="badge margin-xs">Bienfaits</p>
					<p>Lorem ipsum damet ic for salutant.</p>

					<p class="badge margin-xs">Durée & tarif</p>
					<p class="h3"><i class="fa-regular fa-clock"></i> 45min</p>
					<p class="h3"><i class="fa-solid fa-tag"></i> 75€</p>
				
				</div>
				<div>
					<center><img src="{{ site.theme.link }}/static/img/massages/illu-suedois.svg" alt="" width=""/></center>
				</div>
				<div>
					<center><img src="{{ site.theme.link }}/static/img/massages/illu-ayurveda.svg" alt="" /></center>
				</div>
			</div>

			<div class="align-center"><img src="{{ site.theme.link }}/static/img/arabesque-1.svg" alt="" width="400" class="revert-vertical" /></div>
		
		</div>
	</div>
{#
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{ post.content }}
				</div>
			</section>
		</article>
	</div>
#}
{% endblock %}