{% extends "base.twig" %}

{% block content %}
	{# Cover #}
	<div class="margin-xxl flexbox background-dark-grey cover">
		<div class="row">

			<div class="block-title">
				<h1 class="title">{{ post.title }}</h1>
			</div> 

		</div>
	</div>

	<div class="background-white">
		<div class="row">
			<h2 class="margin-m">Mon parcours</h2>

			<p>Je m’appelle Léa. <br>
			Nantaise d’origine mais tomber en amour pour le Morbihan, je m’y suis installé depuis quelques années.</p>

			<p>J’eus ma révélation pour le massage bien-être en 2016, lors d’un festival de sensibilisation et d’intégration aux handicaps. <br>Bénévole dans l’espace détente, j’ai observé les résultats de courts massages : du relâchement, de l’apaisement et des sourires. Beaucoup de sourires ! Je me suis dit « d’accord, c’est ça que je veux faire. »</p>

			<p>Depuis, je me suis formée au massage bien-être à l’école Azenday sur Nantes. J’ai ainsi pu développer des techniques professionnelles et découvrir la richesse du milieu du bien-être.</p>
			
			<p>En parallèle, je mets en pratique plusieurs techniques de relaxation issues du massage, du yoga, de la sophrologie, de la méditation, du chamanisme ou encore de la communication non violente. Remarquant les résultats probants sur mon être, je me sens obligée de partager ces découvertes.</p>

			<p>Au fil des jours, je continue de me former pour proposer des nouvelles techniques de massages et de relaxation pour permettre à d’autres âmes que la mienne de bénéficier du bien-être que cela procure.</p>
		</div>
	</div>

	{#
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{ post.content }}
				</div>
			</section>
		</article>
	</div>
	#}
{% endblock %}