{% extends "base.twig" %}

{% block content %}
	{# Cover #}
	<div class="row cover">

		<div class="block-title">
			<h1 class="title {% if post.content is not empty %}margin-l{% endif %}">{{ post.title }}</h1>

			{% if post.content is not empty %}
				<p>{{ post.content }}</p>
			{% endif %}
		</div> 

	</div>

	{# Parcours #}
	{% if post.meta('about_career_path_title') is not empty 
		 or post.meta('about_career_path_presentation') is not empty 
		 or post.meta('about_career_path_background') is not empty 
	%}
		<div class="immersif-background my-cover">
    
      {% filter shortcodes %}
        [dd-parallax img="{{ post.meta('about_career_path_background') }}" mobile="{{ post.meta('about_career_path_background') }}" height="1000" speed="3" z-index="-100" offset="true"] 
          <div class="row content-text-block">
            <div class="content">
              {% if post.meta('about_career_path_title') is not empty %}
                <h2 class="align-center title">{{ post.meta('about_career_path_title') }}</h2>
              {% endif %}

              {{ post.meta('about_career_path_presentation') }}
              
              {% if post.meta('about_career_path_button').url is not empty %}
                <br><br>
                <a href="{{ post.meta('about_career_path_button').url }}" title="{{ post.meta('about_career_path_button').label }}" class="button button-primary">
                  {{ post.meta('about_career_path_button').label }}
                </a>
              {% endif %}

              <img src="{{ site.theme.link }}/static/img/natural-illustration-7.svg" alt="" class="illustration" height="250" />
            </div>
          </div>
        [/dd-parallax]
      {% endfilter %}
			<!--<div class="bg-block" style="background-image: url('{{ post.meta('about_career_path_background') }}');"></div>-->
			
			
		</div> 
	{% endif %}
	

	{# Philosophie #}
	{% if post.meta('about_philosophy_title') is not empty 
		or post.meta('about_philosophy_presentation') is not empty 
		or post.meta('about_philosophy_background') is not empty 
	%}
		<div class="immersif-background my-philosophy">

      {% filter shortcodes %}
        [dd-parallax img="{{ post.meta('about_philosophy_background') }}" mobile="{{ post.meta('about_philosophy_background') }}" height="800" speed="3" z-index="-100" offset="true"]   
          <!--<div class="bg-block" style="background-image: url('{{ post.meta('about_philosophy_background') }}');"></div>-->
          <div class="row content-text-block">
            <div class="content revert">
              <img src="{{ site.theme.link }}/static/img/natural-illustration-8.svg" alt="" class="illustration-top" height="190" />
              <h2 class="align-center title">{{ post.meta('about_philosophy_title') }}</h2>

              {{ post.meta('about_philosophy_presentation') }}
          
              <img src="{{ site.theme.link }}/static/img/natural-illustration-8.svg" alt="" class="illustration" height="320" />
            </div>
          </div>        
        [/dd-parallax]
      {% endfilter %}

		</div>
	{% endif %}
	

	{# Engagements #}
	{% if post.meta('about_engagement_title') is not empty 
		 or post.meta('about_engagement_presentation') is not empty 
		 or post.meta('about_engagement_background') is not empty 
	%}
		<div class="immersif-background my-engagment">
			{% filter shortcodes %}
        [dd-parallax img="{{ post.meta('about_engagement_background') }}" mobile="{{ post.meta('about_engagement_background') }}" height="1000" speed="3" z-index="-100" offset="true"]   
            <!--<div class="bg-block" style="background-image: url('{{ post.meta('about_engagement_background') }}');"></div>-->
          <div class="row content-text-block">
            <div class="content">
              <img src="{{ site.theme.link }}/static/img/natural-illustration-4.svg" alt="" class="illustration-top" height="45" />

              {% if post.meta('about_engagement_title') is not empty %}
                <h2 class="align-center title">{{ post.meta('about_engagement_title') }}</h2>
              {% endif %}

              {{ post.meta('about_engagement_presentation') }}
                
              <img src="{{ site.theme.link }}/static/img/natural-illustration-4.svg" alt="" class="illustration" height="48" />
            </div>
          </div>  
        [/dd-parallax]
      {% endfilter %}

		</div>
	{% endif %}
	
	
	<div class="margin-xl"></div>

{% endblock %}